In [3]:
import pandas, io

In [4]:
test_file = io.StringIO()

In [8]:
test_file.write("\n".join("\t".join([str(i*j)
                                     for i in range(10)]) 
                          for j in range(10)))

257

In [12]:
test_file.seek(0)
pandas.read_csv(test_file, sep='\t', header=None)

   0  1   2   3   4   5   6   7   8   9
0  0  0   0   0   0   0   0   0   0   0
1  0  1   2   3   4   5   6   7   8   9
2  0  2   4   6   8  10  12  14  16  18
3  0  3   6   9  12  15  18  21  24  27
4  0  4   8  12  16  20  24  28  32  36
5  0  5  10  15  20  25  30  35  40  45
6  0  6  12  18  24  30  36  42  48  54
7  0  7  14  21  28  35  42  49  56  63
8  0  8  16  24  32  40  48  56  64  72
9  0  9  18  27  36  45  54  63  72  81

In [26]:
d = !head /data/jmeppley/projects/nanopore_biller/HPC/merge/mcl/all_afvgs.vs.self.L500.I96.noself.lastn

In [38]:
dblock = "\n".join(d) + "\n"
dblock

'tp1:k4.min_d0.1.nn15:d004c256-f168-4f0c-9e42-03dacdc5fd30\ttp1:k4.min_d0.5.nn15:1a8c16f8-acb3-452e-83c1-4eeab66f5a85\t96.32\t11162\t358\t28\t11150\t1\t23325\t34445\t0\t1.6e+04\t34135\t34446\t10144\ntp1:k4.min_d0.1.nn15:d004c256-f168-4f0c-9e42-03dacdc5fd30\ttp1:k5.min_d0.5.nn15:1a8c16f8-acb3-452e-83c1-4eeab66f5a85\t96.31\t11162\t358\t29\t11150\t1\t23369\t34488\t0\t1.6e+04\t34135\t34491\t10135\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp1:k6.min_d0.nn20:335cb453-9678-48d9-a9df-8da26bc90aef\t98.73\t20901\t171\t64\t34928\t14078\t1\t20857\t0\t3.15e+04\t34944\t35130\t19923\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp1:k4.min_d0.5.nn10:ec5aceaf-f0c7-41cb-bdbd-82eb386082db\t98.72\t20901\t174\t64\t34928\t14078\t1\t20857\t0\t3.15e+04\t34944\t35118\t19917\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp1:k6.min_d0.5.nn5:ec5aceaf-f0c7-41cb-bdbd-82eb386082db\t98.68\t20900\t181\t63\t34928\t14078\t1\t20855\t0\t3.15e+04\t34944\t35096\t19909\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp2:k6.min_d0.nn5:4d6b63f3-c2f3-4d55-a5b1-06194b58ed44\t98.27\t20933\t236\t72\t34928\t14078\t1\t20889\t0\t3.12e+04\t34944\t35202\t19705\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp2:k6.min_d0.nn10:4d6b63f3-c2f3-4d55-a5b1-06194b58ed44\t98.29\t20936\t228\t75\t34928\t14078\t1\t20892\t0\t3.11e+04\t34944\t35196\t19697\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp2:k5.min_d0.1.nn5:4d6b63f3-c2f3-4d55-a5b1-06194b58ed44\t98.14\t20934\t263\t69\t34932\t14078\t1\t20887\t0\t3.11e+04\t34944\t35190\t19673\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp1:k6.min_d0.nn20:335cb453-9678-48d9-a9df-8da26bc90aef\t96.31\t10323\t326\t40\t11203\t901\t24000\t34287\t0\t1.47e+04\t34944\t35130\t9281\ntp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7adf648d138a\ttp2:k6.min_d0.nn10:4d6b63f3-c2f3-4d55-a5b1-06194b58ed44\t96.56\t7961\t241\t29\t11203\t3259\t24032\t31975\t0\t1.14e+04\t34944\t35196\t7210\n'

In [39]:
import io
temp_file = io.StringIO()
temp_file.write(dblock)

1827

In [34]:
from modules import utils

In [40]:
temp_file.seek(0)
df = utils.parse_blast_m8(temp_file, format=utils.BLAST_PLUS)

In [41]:
df

,query,hit,pctid,mlen,mismatches,gaps,qstart,qend,hstart,hend,evalue,score,qlen,hlen,raw_score
0,tp1:k4.min_d0.1.nn15:d004c256-f168-4f0c-9e42-0...,tp1:k4.min_d0.5.nn15:1a8c16f8-acb3-452e-83c1-4...,96.32,11162,358,28,11150,1,23325,34445,0,16000.0,34135,34446,10144
1,tp1:k4.min_d0.1.nn15:d004c256-f168-4f0c-9e42-0...,tp1:k5.min_d0.5.nn15:1a8c16f8-acb3-452e-83c1-4...,96.31,11162,358,29,11150,1,23369,34488,0,16000.0,34135,34491,10135
2,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp1:k6.min_d0.nn20:335cb453-9678-48d9-a9df-8da...,98.73,20901,171,64,34928,14078,1,20857,0,31500.0,34944,35130,19923
3,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp1:k4.min_d0.5.nn10:ec5aceaf-f0c7-41cb-bdbd-8...,98.72,20901,174,64,34928,14078,1,20857,0,31500.0,34944,35118,19917
4,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp1:k6.min_d0.5.nn5:ec5aceaf-f0c7-41cb-bdbd-82...,98.68,20900,181,63,34928,14078,1,20855,0,31500.0,34944,35096,19909
5,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp2:k6.min_d0.nn5:4d6b63f3-c2f3-4d55-a5b1-0619...,98.27,20933,236,72,34928,14078,1,20889,0,31200.0,34944,35202,19705
6,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp2:k6.min_d0.nn10:4d6b63f3-c2f3-4d55-a5b1-061...,98.29,20936,228,75,34928,14078,1,20892,0,31100.0,34944,35196,19697
7,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp2:k5.min_d0.1.nn5:4d6b63f3-c2f3-4d55-a5b1-06...,98.14,20934,263,69,34932,14078,1,20887,0,31100.0,34944,35190,19673
8,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp1:k6.min_d0.nn20:335cb453-9678-48d9-a9df-8da...,96.31,10323,326,40,11203,901,24000,34287,0,14700.0,34944,35130,9281
9,tp1:k4.min_d0.1.nn15:3725ea2c-3709-49f4-b879-7...,tp2:k6.min_d0.nn10:4d6b63f3-c2f3-4d55-a5b1-061...,96.56,7961,241,29,11203,3259,24032,31975,0,11400.0,34944,35196,7210

In [42]:
df.shape

(10, 15)

In [43]:
len(set(df.hit))

8

In [72]:
df.hstart.idxmin()

2

In [70]:
df.sort_values('pctid').pctid[0]

96.32

In [67]:
import nose

In [47]:
pwd

'/home/jmeppley/notebooks/modules/tests'

In [52]:
from modules import conda

In [66]:
!nosetests

...
----------------------------------------------------------------------
Ran 3 tests in 1.035s

OK

In [58]:
import numpy
from modules import utils

In [65]:
x = numpy.array([0,1,2,3,4])
for i in range(1,10,2):
    y = i * x
    slope, intercept = utils.get_best_fit(x, y)
    print (abs(i - slope) < 1e-13, intercept)

True 7.62451988888348e-16
True -2.8449926261468773e-16
True 3.1100932507263995e-15
True 4.683186331922376e-15
True 5.9272236322129365e-15

In [73]:
def test_fun():
    return "test"

In [74]:
function = 'test_fun'

In [75]:
function = eval(function)

In [77]:
function = eval("foo_bar")

NameError: name 'foo_bar' is not defined

In [76]:
function()

'test'